.tab {
}

.tab button {
    width: 80px;
    height: 40px;
    border: 1px solid #517dbd;
    background-color: #fff;
    color: #255497;
    cursor: pointer;
}

#tab_selected {
    background-color: #4b78b8;
    color: #fff;
}